[access]
  inheritFrom = All-Projects
[submit]
  action = rebase always
  mergeContent = true

[label "Code-Review"]
  abbreviation = R
  value = -1 Don't submit as-is
  value = 0 No score
  value = +1 Looks good to me
  defaultValue = 0
  function = NoBlock
  ignoreSelfApproval = true
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR (has:unchanged-files AND uploaderin:cria/project-openscreen-committers) OR is:MIN

[label "Commit-Queue"]
  abbreviation = CQ
  value = 0 Not ready
  value = +1 Dry run
  value = +2 Commit
  defaultValue = 0
  function = NoBlock
	copyCondition = changekind:NO_CHANGE
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE

[access "refs/for/refs/*"]
  push = group cria/project-openscreen-committers
  create = group cria/project-openscreen-committers
  forgeAuthor = group cria/project-openscreen-committers
  exclusiveGroupPermissions = addPatchSet
  addPatchSet = group cria/project-openscreen-committers
  addPatchSet = group openscreen-scoped@luci-project-accounts.iam.gserviceaccount.com
[access "refs/heads/*"]
  label-Code-Review = -1..+1 group cria/project-openscreen-committers
  submit = group cria/project-openscreen-committers
  abandon = group cria/project-openscreen-committers
  # Following lines only apply if they have a CQ
  label-Commit-Queue = +0..+2 group Change Owner
  label-Commit-Queue = +0..+2 group cria/project-openscreen-committers
  labelAs-Commit-Queue = +0..+2 group openscreen-scoped@luci-project-accounts.iam.gserviceaccount.com
  labelAs-Commit-Queue = group Logged-in Public Users
  submit = group openscreen-scoped@luci-project-accounts.iam.gserviceaccount.com

[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[access "refs/heads/chromium/*"]
	create = group chromium-branch-creators
	read = group chromium-branch-creators
	submit = group chromium-branch-creators
[plugin "code-coverage"]
	enabled = true
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX,user=non_uploader -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = Submit requirement for the 'Verified' label
	applicableIf = is:false
	submittableIf = is:true
	canOverrideInChildProjects = true
